@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
body
{
      margin:0;
      padding:0;
      background-image: url("background.png"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: 'Montserrat', sans-serif;
} 

.grid
{
  max-width: 700px;
  height: 500px;
  margin: 60px auto;
  background: linear-gradient( 
  to bottom right,rgba(255, 255, 255, 0.2);
   rgba(255, 255, 255, 0.05));
  padding: 10px 50px 50px 50px; 
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px 
  -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter:blur(0.8rem) ;
  border-radius:10px;
} 

 .grid h1
 {
   font-family: 'Montserrat', sans-serif;
   background-color: #6AC0BD;
   font-size: 60px;
   text-align: center;
   color:#fff;
   padding: 2px 0px;
   border-radius: 50px;
}

.grid #question
{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:#6AC0BD;
  text-align: center;
}

.buttons
{
  margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3
{
  background-color:#6AC0BD;
  width: 250px;
  font-size: 60px;
  color: #fff;
  border: 1px solid #1d3c6e;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}
#score{
  color: #5a6772;
  text-align: center;
  font-size: 30px;
}

#progress 
{
  color: #2b2b2b;
  font-size: 18px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover
{
  cursor:pointer;
  background-color: #57636a;

}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus
{
  outline: 0;
}




